@import "../bower_components/normalize-css/normalize.css";
@import  "../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
$visual-grid: true;
@import "../bower_components/neat/app/assets/stylesheets/neat.scss";

.wrapper {
  @include outer-container;
  margin: 0 auto;
}

// Header Elements
header {
  @include outer-container;
  background: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
  padding: 10px;
    margin-bottom: 25px;
  .logo {
    @include span-columns(.5);
  }
  .search input {
    @include span-columns(3);
    padding: 3px;
    font-size: 11px;
    color: #AAAAAA;
    border-radius: 2px;
    outline: none;
    margin-right: 5px;
  }
  nav {
    a {
      text-decoration: none;
      color: #000;
      padding: 5px;
      font-size: 12px;
      font-weight: bolder;
    }
  }
}
header .search input:last-child {
    margin-right: 10px;
}

nav.gitNav {
  @include span-columns(7);
}
.iconNav {
  // @include span-columns(3);
  float: right;
  margin-bottom: 10px;
}
.octicon-bell, {
  font-size: 15px;
  padding: 5px;
}
.octicon-plus {
  font-size: 15px;
}
.octicon-triangle-down {
  font-size: 5px;
  // margin: 0;
}
#avatar {
  border-radius: 5px;
  margin-bottom: 0;
}

// Sidebar

.sidebar {
  @include span-columns(2.5);
}

.avatar {
  border: 1px transparent;
  border-radius: 5px;
  width: 100%;
  // @include span-columns(2.5);
}


// Repo List

.repoName {
  @include span-columns(9);
  float: right;
  padding: 15px;
  border-bottom: 1px solid #DDDDDD;
}
